<div class="container-fluid px-5 py-5" id="product-list">
  <div class="row">
    <div class="col-lg-3 col-md-4 mb-4">
      <div class="filter-sidebar text-white p-3 shadow-sm">

        <h5 class="fw-bold mb-3">Filters</h5>

        <!-- 🔍 Search -->
        <div class="mb-4">
          <label class="fw-semibold">Search</label>
          <input type="text" [(ngModel)]="search" (input)="applyFilter()" class="form-control mt-2"
            placeholder="Search products...">
        </div>

        <!-- 💰 Price Range -->
        <div class="mb-4">
          <label class="fw-semibold">Price Range</label>
          <div class="d-flex gap-2 mt-2">
            <input type="number" [(ngModel)]="filter.minPrice" (input)="applyFilter()" class="form-control"
              placeholder="Min">
            <input type="number" [(ngModel)]="filter.maxPrice" (input)="applyFilter()" class="form-control"
              placeholder="Max">
          </div>
        </div>

        <!-- 🏷 Category -->
        <div class="mb-4">
          <label class="fw-semibold">Category</label>

          <div *ngFor="let cat of categories" class="form-check mt-2">
            <input class="form-check-input" type="radio" name="category" [value]="cat.name"
              [(ngModel)]="filter.category" (change)="applyFilter()">

            <label class="form-check-label">
              {{ cat.name }}
            </label>
          </div>

          <button class="btn btn-danger w-100" (click)="filter.category=''; applyFilter()">
            Clear
          </button>
        </div>

        <!-- 🔽 Sort -->
        <div class="mb-4">
          <label class="fw-semibold">Sort By</label>

          <select [(ngModel)]="filter.sortBy" (change)="applyFilter()" class="form-select mt-2">
            <option value="name">Name</option>
            <option value="price">Price</option>
          </select>

          <select [(ngModel)]="filter.sortOrder" (change)="applyFilter()" class="form-select mt-2">
            <option value="asc">⬆ Ascending</option>
            <option value="desc">⬇ Descending</option>
          </select>
        </div>

        <!-- 🔄 Reset -->
        <button class="btn btn-secondary w-100" (click)="resetFilters()">
          Reset Filters
        </button>

      </div>
    </div>

    <div *ngIf="loading" class="text-center">
      <div class="spinner-border text-success"></div>
    </div>
    <div class="col-lg-9 col-md-8 px-4" id="product-grid">
      <div class="row g-5" *ngIf="!loading">

        <div class="col-md-4" *ngFor="let product of products">
          <div class="card h-100 shadow-sm bg-dark">
            <img [src]="'https://localhost:7225' + product.imageUrl" [alt]="product.name" height="400" width="200"
              class="card-img-top pt-2 bg-light" />
            <div class="card-body d-flex flex-column">
              <h5 class="card-title text-light">{{product.name}}</h5>

              <p class="text-light small">{{ product.description | slice:0:150 }}...</p>
              <span class="badge bg-primary mb-2  ">{{product.categoryName}}</span>
              <h5 class="text-success fw-bold ">₹ {{product.price}}</h5>
              <div class="d-flex justify-content-between">
                <div>
                  <button class="btn btn-success mt-2" (click)="viewProduct(product.id)">View In Details</button>
                </div>

                <div>
                  <button class="btn btn-primary mt-2" (click)="addToCart(product.id)" [disabled]="loading">
                    Add to Cart
                  </button>
                </div>

              </div>
            </div>
          </div>

        </div>

      </div>

    </div>


    <div class="modal fade" id="productDetailsModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content border-0 shadow-lg rounded-4 overflow-hidden">

          <div class="modal-header bg-dark text-white">
            <h5 class="modal-title fw-bold">🛍️ Product Details</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal">
            </button>
          </div>
          <div class="modal-body bg-dark text-light p-4" *ngIf="selectedProduct() as selectedProduct">

            <div class="row">

              <!-- LEFT -->
              <div class="col-md-5 text-center border-end">

                <img [src]="'https://localhost:7225' + selectedProduct.imageUrl"
                  class="img-fluid rounded-4 shadow-sm product-preview">

                <h4 class="fw-bold mt-3">
                  {{ selectedProduct.name }}
                </h4>

                <span class="badge bg-primary px-3 py-2 mt-2">
                  {{ selectedProduct.categoryName }}
                </span>

                <h3 class="text-success fw-bold mt-3">
                  ₹ {{selectedProduct.price}}
                </h3>

              </div>

              <!-- RIGHT -->
              <div class="col-md-7">

                <h5 class="fw-bold mb-3">📄 Description</h5>

                <div class="desc-box">
                  <p [innerHTML]="formattedDescription"></p>
                </div>

                <div class="mt-4">
                  <span class="badge px-4 py-2 fs-6" [ngClass]="selectedProduct.stock > 0 ? 'bg-success' : 'bg-danger'">
                    {{ selectedProduct.stock > 0 ? 'In Stock' : 'Out of Stock' }}
                  </span>
                </div>

              </div>

            </div>

          </div>

          <div class="modal-footer bg-dark text-light justify-content-between">
            <div>
              <button class="btn btn-primary mt-2" (click)="addToCart(selectedProduct().id)" [disabled]="loading"
                data-bs-dismiss="modal">
                Add to Cart
              </button>
            </div>

            <div>
              <button class="btn btn-light me-2" data-bs-dismiss="modal">
                Close
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>