/* Background */
.container-fluid {
  /* background: linear-gradient(135deg, #0f172a, #020617); */
  background: #0f2027;
}
/* Card */
.login-card {
  width: 500px;
  border-radius: 20px;
  border: 1px solid #1e293b;
  background: #0f172a;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.6);
  color: #e2e8f0;
}

/* Inputs */
.custom-input {
  height: 45px;
  border-radius: 10px;
  border: 1px solid #334155;
  background: #1e293b;
  color: #fff;
}

.custom-input::placeholder {
  color: #64748b;
}

.custom-input:focus {
  box-shadow: none;
  border-color: #22c55e;
  background: #1e293b;
  color: #fff;
}

/* Button */
.login-btn {
  height: 45px;
  border-radius: 10px;
  background: linear-gradient(135deg, #16a34a, #22c55e);
  border: none;
  color: white;
  font-weight: 500;
  transition: 0.3s;
}

.login-btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 5px 15px rgba(34, 197, 94, 0.3);
}

/* Divider */
.divider {
  text-align: center;
  margin: 15px 0;
  color: #64748b;
  position: relative;
}

.divider::before,
.divider::after {
  content: "";
  height: 1px;
  width: 40%;
  background: #334155;
  position: absolute;
  top: 50%;
}

.divider::before { left: 0; }
.divider::after { right: 0; }

/* Google */
.google-wrapper {
  display: flex;
  justify-content: center;
}

/* Link */
.register-link {
  color: #22c55e;
  font-weight: 500;
  text-decoration: none;
}

.register-link:hover {
  text-decoration: underline;
}