<div class="sidebar d-flex flex-column bg-dark">

  <h4 class="logo mb-4">Admin Panel</h4>

  <a routerLink="/admin" routerLinkActive="active">
    <i class="bi bi-speedometer2"></i> Dashboard
  </a>

  <a routerLink="/admin/products" routerLinkActive="active">
    <i class="bi bi-box-seam"></i> Products
  </a>

  <a routerLink="/admin/users" routerLinkActive="active">
    <i class="bi bi-people"></i> Users
  </a>

  <a routerLink="/admin/orders" routerLinkActive="active">
    <i class="bi bi-receipt"></i> Orders
  </a>

</div>